# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# Build
dist/
build/

# Coverage
.coverage
htmlcov/
